fastapi
uvicorn[standard]
pydantic-settings
langchain
langchain-classic
langchain-community
langchain-text-splitters
langchain-pinecone
langchain-huggingface
pinecone
sentence-transformers
transformers
torch
accelerate
peft
safetensors
trl[peft]
bitsandbytes
datasets
pandas
rank_bm25
tqdm
sqlalchemy
pyodbc
langchain-openai
arize-phoenix
opentelemetry-instrumentation-fastapi
openinference-instrumentation-langchain
pytest
httpx
